[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/prashantsinhpvips
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/prashantsinhpvips
	label-Verified = -1..+1 group user/prashantsinhpvips
	push = group user/prashantsinhpvips
	read = group user/prashantsinhpvips
	rebase = group user/prashantsinhpvips
	removeReviewer = group user/prashantsinhpvips
	submit = group user/prashantsinhpvips
[access "refs/heads/*"]
	create = group user/prashantsinhpvips
	push = +force group user/prashantsinhpvips
	pushMerge = group user/prashantsinhpvips
	read = group user/prashantsinhpvips
[access "refs/tags/*"]
	push = group user/prashantsinhpvips
	push = +force group user/prashantsinhpvips
